# Ignorar a pasta 'env' (ambiente virtual)
env/

# Ignorar a pasta 'cache_data'
cache_data/

# Ignorar o arquivo 'test.ipynb'
test.ipynb

# Ignorar o arquivo 'dataanalysisf1.ipynb'
dataanalysisf1.ipynb

# Ignorar o arquivo 'test.py1'
test.py

# Ignorar o arquivo 'test.py1'
create_software_part1.py

# Ignorar o arquivo 'readme.txt'
readme.txt
